<a href=<%="/jobs?page=#{params[:page].to_i - 1}"%>>Previous</a>
<a href=<%="/jobs?page=#{params[:page].to_i + 1}"%>>Next</a>

<% @jobs.each do |job| %>
  <p>
    <%= job.title %><br>
    <a href=<%= job.company_website %>>Company Website</a><br>
    <%= job.company_name %>
  </p>
<% end %>
